body{
   margin: 0;
}

li{
   font-size: 12px;
}

a{
   text-decoration: none;
}

/* bottom bar css */

div.bbar .cart{
   color: rgb(0, 0, 0);
}

div.bbar .cart p{
   font-size: 1rem;
}

div.bbar .img img{
   width: 150px;
}

div.bbar .btn{
   color: rgb(247, 247, 247);
}

div.tbar .h4 i{
   color: rgb(22, 81, 133);
}


div.tbar .h4 a{
   color: aliceblue;
}

div.bbar .cart .far{
   color: red;
}

div.bbar .cart .fas{
   color: green;
}
/* thiss one */

.cards .container{

   width: 60%;
   position: relative;
   margin-top: -25px;
}
.cards .row .img-fluid{
   width: 70% ;
}

.cards .container .row .col-md-2 img{
   width: 40px; height: 40px; border-radius: 30px; border:solid;
}

hr{
   border:rgb(182, 179, 167) 1px solid; width: 70%; margin-left: auto; margin-right: auto;
}

/* navbar css */
div.collapse a{
   color: cornsilk;
}

div.collapse .dropdown-menu{
   background-color: rgb(0, 0, 0);
}

div.collapse .dropdown-menu a{
   color: rgb(255, 255, 255);
}

div.navbar button{
   color: aliceblue;
}



.tbar .h4{
   font-size: 15px;
}

.tbar .h4 .far{
   color: rgb(252, 252, 252);
}

.tbar .h4 .fas{
   color: rgb(252, 252, 252);
}

.tbar .h4 .fab{
   color: rgb(252, 252, 252);
}

/* navbar css ends */

#featuredProducts .section-title{
   color: green;
}


#featuredProducts .card-footer .btn .fas{
   color: green;
}


.bg-image1{
 background-image: url('../img/1.jpg'); height: 500px; 
 background-position: center;
 background-size: 100vh;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

p.titles , p.h1{
 color: aliceblue;

}

p.titles{
   font-size:medium
}


.bg-image2a{
   background-image: url('../img/2a.jpg'); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 2;
   position: relative ;
   color: cornsilk;
   padding: 50px;
  }

  .bg-image2b{
   background-image: url('../img/2b.jpg'); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 2;
   position: relative;
   color: cornsilk;
   padding: 50px;
  }

  ul.list {
   list-style: none;
 }
 
 ul.list li:before {
   content: '✓';
   color: green;
 }


 div.bg5{
   background-image: url('../img/bg2.jpg'); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 2;
   position: relative;
   padding: 20px;
   margin: 20px;
   border-radius: 5px;
   
 }

 div.bg5 .h5{
 color: rgb(235, 227, 227);
}

div.bg5 .h6{
   color: rgb(236, 217, 197);
}
 /* NavBar CSS */


#featuredProducts .card:hover{
   
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}


a.text-reset{
   color: red;
}



.info .img-responsive{

 width: 80px;
 height:90px ;
 border-radius: 50px; 

} 

/* responsive */
@media (max-width: 320px) {
   p.titles{
      font-size:small;
   }


}